/* font-family: 'Josefin Sans',
sans-serif;
font-family: 'Marck Script',
cursive;
font-family: 'Open Sans',
sans-serif; */

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans',
    sans-serif;
}

a {
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
}

nav h1 {
  color: #a84d38;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-style: italic;
  font-weight: 100;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  padding: 2rem;
}

nav li {
  list-style: none;
}

nav a {
  font-size: 1.1rem;
  text-transform: uppercase;
}

img {
  width: 15rem;
}

.hero {
  background: url('./img/welcome.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Josefin Sans',
    sans-serif;
  min-height: 90vh;
  /* flex */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero h2 {
  color: white;
  font-size: 3.3rem;
  font-weight: 100;
  line-height: 1.5;
  margin: 2rem;
  text-align: center;
  width: 55%;
}

.hero button {
  background: #ad8c68;
  color: white;
  letter-spacing: .03em;
  line-height: 1.4em;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  padding: 1.5rem 2.6rem 1.3rem;

}