/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
}

nav h1 {
  font-size: 5rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  padding: 2rem;
}

nav li {
  list-style: none;

}

img {
  width: 15rem;
}